# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.dev.env
.env
*.sqlite3

# Django
staticfiles/
media/
db.sqlite3

# OS/editor
.DS_Store
.idea/
.vscode/

# Bytecode & cache
*.log
.mypy_cache/
.pytest_cache/
