{% extends "league/base.html" %}
{% block content %}
<h1 class="h4 mb-3">Invite Player</h1>
<div class="glass-card p-3">
  <form method="post" class="row g-3">
    {% csrf_token %}
    <div class="col-md-4">
      <label class="form-label">First name</label>
      <input name="first_name" class="form-control" value="{{ request.POST.first_name|default_if_none:'' }}" required>
    </div>
    <div class="col-md-4">
      <label class="form-label">Last name</label>
      <input name="last_name" class="form-control" value="{{ request.POST.last_name|default_if_none:'' }}" required>
    </div>
    <div class="col-md-6">
      <label class="form-label">Email</label>
      <input type="email" name="email" class="form-control{% if email_error %} is-invalid{% endif %}" value="{{ request.POST.email|default_if_none:'' }}" required>
      {% if email_error %}
        <div class="invalid-feedback d-block">{{ email_error }}</div>
      {% endif %}
    </div>
    <div class="col-md-3 d-flex align-items-center">
      <div class="form-check mt-4">
        <input id="mkcap" class="form-check-input" type="checkbox" name="make_captain">
        <label class="form-check-label" for="mkcap">Make Captain</label>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary">Send Invite</button>
      <a class="btn btn-link" href="{% url 'admin_manage_players' %}">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}